<div class="checkout">
  <div class="plan_heading">
    <span class="name text-<%= plan_name_class(@checkout.plan_name) %>"><%= @checkout.plan_name.capitalize %></span>
    <span class="price"><%= number_to_currency(@checkout.plan_price) %></span>
    <small>/ Monthly Plan</small>
  </div>
  <hr>

  <div class="form-container">
    <%= validation_errors_notifications(@checkout) %>
    <%= form_for @checkout, url: proceed_checkout_path, method: :post do |f| %>
    <%= f.hidden_field :plan_name, value: @checkout.plan_name %>
    <%= f.hidden_field :plan_price, value: @checkout.plan_price %>
    <%= f.hidden_field :business_email, value: "ali.ahmed.cs2016-facilitator-1@gmail.com" %>
      <div class="form-group <%= @checkout.errors.details[:full_name].present? ? 'has-error' : '' %>">
        <%=  %>
        <%= f.text_field :full_name, class: "form-control", placeholder: "Enter Fullname" %>
      </div>
      <div class="form-group">
        <%= f.text_field :address, class: "form-control", placeholder: "Enter Address" %>
      </div>
      <div class="form-group <%= @checkout.errors.details[:email].present? ? 'has-error' : '' %>">
        <%= f.email_field :email, class: "form-control", placeholder: "Enter Email" %>
      </div>

      <div class="form-group form-actions">
        <%= f.submit "Pay (#{number_to_currency(@checkout.plan_price)})", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
