<div class="fruitland">
  <div class="row">
    <div class="col-md-4">

      <div class="panel panel-primary" data-redirect="<%= new_checkout_path(:brownz, :plan => { plan_price: 100 }) %>">
        <div class="panel-heading">
          <div class="panel-title">
            <strong>Brownz Offer</strong>
          </div>
        </div>
        <div class="panel-body">
          <div class="plans">
            <strong><%= number_to_currency(100) %></strong><small>/ Monthly Plan</small>
          </div>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="panel panel-warning" data-redirect="<%= new_checkout_path(:gold, :plan => { plan_price: 500 }) %>">
        <div class="panel-heading">
          <div class="panel-title">
            <strong>Gold Offer</strong>
          </div>
        </div>
        <div class="panel-body">
          <div class="plans gold">
            <strong><%= number_to_currency(500) %></strong><small>/ Monthly Plan</small>
          </div>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="panel panel-success" data-redirect="<%= new_checkout_path(:silver, :plan => { plan_price: 200 }) %>">
        <div class="panel-heading">
          <div class="panel-title">
            <strong>Silver Offer</strong>
          </div>
        </div>
        <div class="panel-body">
          <div class="plans">
            <strong><%= number_to_currency(200) %></strong><small>/ Monthly Plan</small>
          </div>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
