.checkout {
  .plan_heading {
    text-align: center;
    .name {
      font-size: 61px;
      font-weight: bold;
      margin: 0px 4px;
    }
    .price {
      font-size: 32px;
      margin: 0px 4px;
    }
    .small {
      font-size: 19px;
      margin: 0px 8px;
    }
  }
  .form-container {
    width: 40%;
    margin: 0 auto;
    .form-actions {
      text-align: center;
      input[type='submit'] {
        padding: 7px 3em;
        font-size: 20px;
      }
    }
  }
}
