.fruitland {
  .panel {
    cursor: pointer;
  }
  .panel-title {
    text-align: center;
  }
  .plans {
    text-align: center;
    strong {
      font-size: 30px;
    }
    small {
      font-size: 17px;
    }
  }
  .plans.gold strong {
    font-size: 42px !important;
  }
}

.text-dull {
  color: #6f280f;
}
