<!DOCTYPE html>
<html>
  <head>
    <title>Fruitland</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center page-header">
        <a href="<%= root_path %>">Fruitland</a>
      </h1>
      <% flash.each do |type, message| %>
        <div class="alert <%= alert_class_for(type) %> fade in">
          <strong><span class="glyphicon <%= icon_class_for(type) %>"></span>
            <button class="close" data-dismiss="alert">×</button>
            <%= message.html_safe %>
          </strong>
        </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
